---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="mytheme"> <!-- Asegúrate de que 'mytheme' sea el tema por defecto -->
  <head>
    <BaseHead title={title} description={description} image={image} ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
    <script>
      // Lógica para establecer el tema al cargar la página
      function setInitialTheme() {
        const savedTheme = localStorage.getItem('theme') || 'mytheme';
        document.documentElement.setAttribute('data-theme', savedTheme);
      }
      setInitialTheme();

      // Lógica para manejar el cambio de tema
      document.addEventListener('DOMContentLoaded', () => {
        const button = document.getElementById('theme-toggle-button');
        if (button) {
          button.addEventListener('click', () => {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            const newTheme = currentTheme === 'mytheme' ? 'secondarytheme' : 'mytheme';
            document.documentElement.setAttribute('data-theme', newTheme);
            localStorage.setItem('theme', newTheme);
          });
        }
      });
    </script>
  </head>
  <body>
    <!-- Botón para cambiar el tema, ubicado en la esquina superior derecha del body -->
    <button 
      id="theme-toggle-button"
      class="btn absolute top-16 right-0 z-10">
      Tema
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;transform: ;msFilter:;">
        <path d="M19.924 10.383a1 1 0 0 0-.217-1.09l-5-5-1.414 1.414L16.586 9H4v2h15a1 1 0 0 0 .924-.617zM4.076 13.617a1 1 0 0 0 .217 1.09l5 5 1.414-1.414L7.414 15H20v-2H5a.999.999 0 0 0-.924.617z"></path></svg>
    </button>
    
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
