---
import { type projectsSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import Carousel from "@components/Carousel.astro";

export interface Props extends projectsSchema {}

const { title, description, pubDate, updatedDate, images = [], badge, tags = [], url, repoUrl } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("MMMM YYYY");
import { Image } from "astro:assets";
const pathUrl = Astro.url.pathname;
console.log("Path url: " + pathUrl);
---

<BaseLayout title={title} description={description} image={images[0]}, ogType="article">
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto" transition:name={pathUrl}>
      {images.length > 0 ? (
        <Carousel images={images} />
      ) : (
        <img src="/images/placeholder.png" alt="Placeholder image" class="w-full" />
      )}
      <h1 class="title my-2 text-4xl font-bold" transition:name={`${title}-transition`}>{title}</h1>
      {url && <a href={url} target="_blank" class="text-sky-600">View project</a> <br/>}
      {repoUrl ? (<a href={repoUrl} target="_blank" class="text-sky-600">View repository</a> <br/>) : ( <span>Private repository</span> <br/>)}
      {pubDate && <div>Published: <time>{displayDate}</time></div>}
      {badge && <div class="badge badge-secondary my-1 mr-1"><b>{badge}</b></div>}
      {
        tags &&
          tags.map((tag) => (
            <a href={`/projects/tag/${tag}`} class="badge badge-outline mr-2 no-underline">
              {tag}
            </a>
          ))
      }
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
